<!DOCTYPE html>
<html>
    <head>
        <title>About Me</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">

    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>This site was created by Kalyani Deshmukh. It uses data from mapbox.com and weatherstack.com. This site gives the location weather details for the entered location.</p>
        <img class="portrait" src="/img/day1.jpeg" >
        </div>
         {{>footer}}
    </body>
</html>